.task-container {
  max-height: 45vh;
  overflow-y: auto;
  width: 100%;
  padding: 16px;
  border: 1px solid #f3f6f9;
  border-radius: 6px;
  margin-bottom: 30px;
}

.task-container::-webkit-scrollbar {
  width: 6px;
}

.task-container::-webkit-scrollbar-track {
  background: transparent;
}

.task-container::-webkit-scrollbar-thumb {
  background-color: rgb(221, 219, 219);
  border-radius: 20px;
}

.task-list {
  width: 100%;
}

.task-list.two {
  width: 48%;
}

.task-item {
  background-color: var(--background-light);
  margin-bottom: 8px;
  cursor: pointer;
}

.sub-task-item {
  background-color: #fcfcfc;
  cursor: pointer;
  border-bottom: 1px solid #f3f3f3;
}

.sub-task-container .sub-task-item:last-child {
  margin-bottom: 8px;
  border-bottom: none;
}

.sub-task-container .sub-task-item .form-check-input:checked {
  background-color: #299cdb;
  border-color: #299cdb;
}
