.task-list-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
}

/* .task-list-row.no-selected {
  border-top: 1px solid #d8d4d4;
}

.task-list-row:nth-child(odd) {
  background-color: #fff;
}

.task-list-row:nth-child(even) {
  background-color: #f3f3f3;
} */

.task-list-row .task-detail {
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: 20px;
}
.task-list-row .task-detail.sm {
  width: 15%;
}

.task-list-row .task-detail.lg {
  width: 40%;
}

.task-list-row .task-detail > input,
.task-required > input,
.task-required-check {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.task-list-row .task-required {
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: 20px;
}

.task-list-row .task-required.sm {
  width: 15%;
}

.task-list-tableHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 16px;
  background-color: #e7e7e7;
}

.table-colDiv.sm {
  width: 15%;
  margin-right: 20px;
}

.table-colDiv.md {
  width: 30%;
  margin-right: 20px;
}

.task-label-text {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
